:root {
    --dkGreen: #048000;
    --brGreen: #0bc905;
    --bombRed: #ff0000;
  }

body{
  background: rgb(188,138,240);
  background: linear-gradient(90deg, rgba(188,138,240,1) 0%, rgba(190,182,194,1) 49%, rgba(255,210,76,1) 100%);
}

h1{
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}
h3{
    text-align: center;
}


.board{
    display: grid;
    height:400px;
    width: 400px;
    grid-row: repeat(10, 1fr); /*This is giving us our 10x10 grid look*/
    border: 3px brown;
}

.rowClass{
    display: grid;
    height:40px;
    width: 40px;
    grid-row: 50px 50px;/*repeat(10, 1fr); /*This is giving us our 10x10 grid look*/

}

.grid {
    height: 30px;
    width: 30px;
    table-layout: fixed;
    table-layout: fixed;
    width: 30px;
}

td{
    width: 30px;
    height:30px;
    margin-top:50px;
    margin-left:50px;
    font-size: xx-small;
}

tr {
    align-items: center;
}

.cell{
    background-color: #3d8a3d;
}
.cell1{
    background-color: #048000;
}
.cell2{
    background-color: #0bc905;
}
.clear{
    background-color: #f8f298;
}
.bomb{
    background-color: rgb(255, 0, 0);
}
.tdBomb{
    background-color: rgb(255, 0, 0);
}

.pic{
    position: absolute;
    /*z-index: 2;  put .gold-box above .green-box and .dashed-box */
    background: black;
    width: 400px;
    top: 15em;
}

table{
    position:center;
    margin: 0 auto;
}

div{
    display: flex;
    justify-content: center;
}

#start{
    background-color: black;/*rgb(0, 255, 191);*/
    color: white;
    height: 40px;
    width: 190px;
    font-size:25px;
    display: block;
    margin: 0 auto;
    font-weight:600;
    font-family: 'Bungee Shade', cursive;
    opacity: 80%;
}
