:root {
    --dkGreen: #048000;
    --brGreen: #0bc905;
    --bombRed: #ff0000;
  }

h1{
    text-align: center;
}


.board{
    display: grid;
    height:400px;
    width: 400px;
    grid-row: repeat(10, 1fr); /*This is giving us our 10x10 grid look*/
    border: 3px brown;
}

.rowClass{
    display: grid;
    height:40px;
    width: 40px;
    grid-row: 50px 50px;/*repeat(10, 1fr); /*This is giving us our 10x10 grid look*/

}

.grid {
    height: 30px;
    width: 30px;
    table-layout: fixed;
    table-layout: fixed;
    width: 30px;
}

td{
    width: 30px;
    height:30px;
    margin-top:50px;
    margin-left:50px;
    font-size: xx-small;
}

tr {
    align-items: center;
}

.cell{
    background-color: #3d8a3d;
}
.cell1{
    background-color: #048000;
}
.cell2{
    background-color: #0bc905;
}
.clear{
    background-color: #f8f298;
}
.bomb{
    background-color: rgb(255, 0, 0);
}
.tdBomb{
    background-color: rgb(255, 0, 0);
}

.pic{
    position: absolute;
    /*z-index: 2;  put .gold-box above .green-box and .dashed-box */
    background: black;
    width: 300px;
    top: 15em;
}

table{
    position:center;
    margin: 0 auto;
}

div{
    display: flex;
    justify-content: center;
}

#start{
    background-color: rgb(0, 255, 191);
    height: 40px;
    width: 190px;
    font-size:25px;
    display: block;
    margin: 0 auto;
    font-weight:600;
}
/*
#intro-screen {
    position: absolute;
    z-index: 100;
    width: 600px;
    height: 400px;
    background-color: black;
}

#introContent{
    width: 400px;
    height: 200px;
    padding:20px;
    background-color: white;
    margin: 80 auto;
    margin-top: 80px;
    text-align: center;
}*/